{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecordStar Google Sign In</title>
</head>
<body>
    <div>
        <h2> Google Login </h2>
        <form method="POST" action="{% provider_login_url 'google' %}">
            {% csrf_token %}
            <label for="account_type">Select Account Type:</label>
            <select name="account_type" id="account_type">
                <option value="P">Patron</option>
                <option value="L">Librarian</option>
            </select>
            <button type="submit">Login With Google</button>
        </form>
    </div>
</body>
</html>